@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Typeka";
  src: url("/fonts/typeka.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/source-code-pro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: Source Code Pro;
}

body,
html {
  scroll-behavior: smooth;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1em 5em;
  align-items: center;
}

.nav {
  display: flex;
  gap: 4rem;
  text-transform: uppercase;
  font-size: 1.2em;
}

a {
  display: block;
  padding: 0.5em;
  &:hover {
    opacity: 0.5;
    transition: all 200ms ease;
  }
}

.brand-name a {
  font-family: Typeka !important;
  font-size: 2em;
  &:hover {
    opacity: 1;
  }
}

.hero-banner {
  margin: 4em 6em;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;

  ul {
    display: flex;
    gap: 1em;
  }
}

.profile-image {
  position: relative;
  left: 0%;
  width: 60%;
  height: 500px;
  padding: 1em;
  background-color: #ffb601;
  border-radius: 15px;

  img {
    border-radius: 15px;
    position: relative;
    /* top: -60px; */
    /* left: 60px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile {
  position: relative;
}

.profile .bio {
  position: absolute;
  top: 88px;
  right: 0;
  padding: 1.3em;
  width: 480px;
  background-color: #f1f0f0;
  font-size: 1.4em;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 15px;
  p {
    font-family: Typeka !important;
  }
}

.skill-style {
  color: #cb7901;
}

.projects__container {
  /* background: red; */
}

.projects__title {
  background: #fc8f00;
  padding: 1em 5em;
  height: 300px;
  display: flex;
  align-items: center;

  /* adding parallax effect */
  background-size: 380px !important;
  background-image: url("/images/project-banner-2.png");
  background-attachment: fixed;
  background-position: right -20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects__title h2 {
  color: #fff;
  width: 100%;
  font-size: 2em;
  padding-bottom: 0.5em;
  position: relative;
}

.projects__title h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.67px;
  border-radius: 5px;
  background-color: #fff;
}

.projects__list {
  padding: 1em 5em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2em;
}

.projects__card {
  width: 320px;
  border-radius: 15px;
  overflow: hidden;
  @apply shadow-xl;
  cursor: pointer;
}
.projects__image {
  height: 250px;
}

.projects__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 500ms ease;
  transform-origin: top;
}

.projects__card:first-child .projects__image img {
  object-fit: fill;
}

.projects__description {
  min-height: 180px;
  padding: 8px 12px;
  background-color: #fff;
}

.projects__card:hover {
  overflow: visible;
}

.projects__card:hover .projects__image img {
  scale: 1.2 1.1;
  object-fit: auto;
}

.footer-link {
  font-family: Typeka !important;
  font-size: 1.2em;
  color: #f1f0f0;
}
